<app-title title="Defer Options"></app-title>


<section>
    <h1>Interacciones</h1>
    <hr class="my-2">

    @defer(on interaction){
        <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
            <span>On interaction</span>
        </app-heavy-loaders-fast>
    } @placeholder {
        <div class="w-full h-20 bg-purple-100">
            Click en el div
        </div>
    }
</section>

<section>

    <hr class="my-2">

    <button 
    #btnInteraction
    class="p-2 bg-blue-500 hover:bg-blue-700 transition-all rounded text-white my-2">
        Click me!
    </button>

    @defer(on interaction (btnInteraction)){
        <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
            <span>On interaction</span>
        </app-heavy-loaders-fast>
    } @placeholder {
        <div class="w-full h-20 bg-purple-100">
            Click en el botón
        </div>
    }
</section>

<section>

    <hr class="my-2">
    @defer(on hover (btnInteraction)){
        <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
            <span>On interaction</span>
        </app-heavy-loaders-fast>
    } @placeholder {
        <div class="w-full h-20 bg-purple-100">
            Pasa por el botón
        </div>
    }
</section>

<section>

    <hr class="my-2">
    @defer(on hover){
        <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
            <span>On placeholder hover</span>
        </app-heavy-loaders-fast>
    } @placeholder {
        <div class="w-full h-20 bg-purple-100">
            Pasa por el placeholder
        </div>
    }
</section>

<section>

    <hr class="my-2">
    @defer(on immediate){
        <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
            <span>On Immediate</span>
        </app-heavy-loaders-fast>
    } @placeholder {
        <div class="w-full h-20 bg-purple-100">
            Click en el botón
        </div>
    }
</section>

<section>

    <hr class="my-2">
    @defer(on timer(2000)){
        <app-heavy-loaders-fast cssClass="bg-green-500 h-20">
            <span>2 segundos</span>
        </app-heavy-loaders-fast>
    } @placeholder {
        <div class="w-full h-20 bg-purple-100">
            Tiempo
        </div>
    }
</section>

<section>

    <hr class="my-2">
    @defer(on hover; prefetch on idle){
        <app-heavy-loaders-fast cssClass="bg-green-500 h-20">
            <span>On hover, on idle</span>
        </app-heavy-loaders-fast>
    } @placeholder {
        <div class="w-full h-20 bg-purple-100">
            Tiempo
        </div>
    }
</section>